body {
    text-align: center;
    justify-content: center;
}

#outer {
    display: flex;
    justify-content: center;
}
.inner {
    border: 2px black solid;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 10px;
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}